version: 2.1

workflows:
  build: { jobs: [build] }
  tooling-vscode-publish: { jobs: [tooling-vscode-publish] }

jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          name: Build and run the development environment container.
          command: make ready
      - run:
          name: Run the CI suite.
          command: make ci

  tooling-vscode-publish:
    branches: { only: [master] }
    executor: node
    steps:
      - checkout
      - restore_cache:
          keys:
            - >-
              v1-node-cache-{{ .Branch }}-{{ checksum "tooling/vscode/package-lock.json"
              }}
            - 'v1-node-cache-{{ .Branch }}'
            - v1-node-cache-
      - run:
          working_directory: tooling/vscode
          command: npm install
      - save_cache:
          key: 'v1-node-cache-{{ .Branch }}-{{ checksum "tooling/vscode/package-lock.json" }}'
          paths:
            - node_modules
      - run:
          name: Publish
          working_directory: tooling/vscode
          command: sh -c "npx vsce publish -p $VSCODE_MARKETPLACE_TOKEN 2>&1 | tee /dev/stderr | grep -E 'DONE|Version number cannot be the same'"

executors:
  node:
    description: |
      CircleCI Node Docker image
    docker:
    - image: circleci/node:<<parameters.tag>>
    parameters:
      resource-class:
        default: small
        enum:
        - small
        - medium
        - medium+
        - large
        - xlarge
        type: enum
      tag:
        default: latest
        type: string
    resource_class: <<parameters.resource-class>>
